@media (max-width: 1024px) {

  .hero {
    text-align: center;
  }

  .hero .col-02 {
    display: none;
  }

  /* Layout */

  section {
    max-width: 100%;
    padding: 0 var(--space-xl);
  }


  /* Hero */

  .hero-name br {
    display: none;
  }

  .hero-cta {
    justify-content: center;
    flex-wrap: wrap;
  }


  /* Projects */

  .project-card {
    min-width: 100%;
  }
}