@charset "utf-8";
@import "variables";


/* 	---------------------------------------------------
General Styles
---------------------------------------------------- */

/* Reset */

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
	padding:0; margin:0; border:0;
	vertical-align:baseline;
	font-style:normal;
}

header, footer, aside, nav, article, section {display:block}

html {font-size: 62.5%}

p {margin:0 0 20px 0}
li {list-style-type:none}
em {font-style:italic}
small {font-size:80%}


/* Body */

body {
	font:14px Arial, "Helvetica Neue", Helvetica, Sans-serif;
  line-height:23px;
	color:#687881;
}

a {
	text-decoration:none;
  color:#2296db;
}

a:hover img {
  opacity: .8;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal !important;
  margin:0;
}

h2 {
  font:24px "Times New Roman", Times, serif;
  color:#000;
}


/* Page */

.holder {
  padding:0 7% 0 7%;
}


/* Header */

header {
  width:100%;
  height:60px;
  background:#f1f8fc;
  border-bottom:5px solid #ecf6fb;
  padding:15px 0 0 0;
  margin:0 0 40px 0;
  float:left;
}

h1 a {
	font-size:21px;
  font-weight:bold;
  color:#7da5bd;
}

h1 a:hover {
  opacity: .8;
}

a span {
  color:#9fb762;
}

.headline {
  margin:1px 0 0 0;
  font-size:12px;
  color:#98c7e3;
}


/* Aside */

aside {
  width:250px;
  float:right;
}


/* Entry */

#entry {
  margin-right:310px;
  position:relative;
}

.meta {
  font-size:12px;
  color:#a69369;
}


/* Footer */

footer {
  width:100%;
  border-top:5px solid #ecf6fb;
  padding:15px 0 0 0;
  margin:10px 0 0 0;
  font-size:12px;
  line-height:19px;
  color:#98c7e3;
  float:left;
}

















