@import "core/variables";
@import "parts/header";
@import "parts/content";
@import "parts/footer";
@import "parts/forms";
@import "parts/components";
@import "parts/responsive";

/**
GENERAL
===========================
*/

a:hover,
header:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}


/* Generic */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans-serif;
  background: $white;
  color: $dark-gray;
  font-size: $font-medium;
  margin: 0;
}


/* Grid */

.holder {
  width: 90%;
  margin: auto;
}

.column-01,
.column-02 {
  width: 45%;
}

.column-01 {
  float: left;
}

.column-02 {
  float: right;
}
