/**
COMPONENTS
===========================
*/


/* Screens list */

.screens {
  padding: 0;
  margin: 30px 0 0 0;
  
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top;
  }
  
  img {
    width: 60px;
    padding: 10px;
    background: $white;
    border: 1px solid $light-gray-2;
    box-shadow: 0 1px 4px $light-gray-2;
  }
}


/* CTA */

.cta {
  border-radius: 2px;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  position: relative;
  background: $brand;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;
}
