/**
CONTENT
===========================
*/

.content {
  @extend %clearfix;
  padding: 70px 0;
  text-align: center;
  
  h2 {
    font-size: $font-bigger;
    letter-spacing: -2px;
    margin: 60px 0 10px 0;
  }

  h3 {
    font-weight: normal;
    font-size: $font-medium;
    line-height: 26px;
    margin: 0;
    display: none;
  }

  p {
    margin: 15px 0 0 0;
    color: $dark-gray;
    line-height: 26px;
    font-size: $font-medium-2;
  }

  em {
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 28px;
  }
}

.column-01,
.column-02 {
  width: 47%;
}

.column-01 {
  float: left;
}

.column-02 {
  float: right;
}
