/**
FORMS
===========================
*/

form {

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    margin-top: 15px;
    font-size: $font-small;
  }

  label {
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
  }

  .check {
    margin-bottom: 0;
  }

  input[type="text"] {
    border-radius: 2px;
    width: 290px;
    border: 1px solid $medium-gray;
    background: rgba($white, 1);
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    outline: none;
    color: $dark-gray;
    font-family: $sans-serif;
    font-size: $font-medium;
  }

  input[type="submit"] {
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    background: $green;
    padding: 0 15px;
    text-transform: uppercase;
    color: $white;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: $font-small;
    border: none;
    outline: none;

    &:hover {
      opacity: .9;
    }

    &:active {
      opacity: 1;
      box-shadow: inset #3b5437 0 0 8px;
    }
  }

  input[type="checkbox"] {
    margin-right: 3px;
  }
}
