/**
RESPONSIVE
===========================
*/


/* Viewports */

html,
body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}


/* Smartphones */

@media (max-width: 686px) {

  .holder {

  }

  .column-01,
  .column-02 {
    width: 100% !important;
    float: none;
  }
}
