/**
VARS AND MIXINS
===========================
*/
/* Color vars */
/* Font-size vars */
/* Font-family vars */
/* Mixins */
header:after, .content:after {
  content: "";
  display: table;
  clear: both; }

/**
HEADER
===========================
*/
header {
  border-top: 5px solid #008082;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 1px 4px #eee;
  z-index: 100; }
  header img {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    height: 50px; }
  header h1 {
    margin: 14px 0 0 0;
    font-size: 18px;
    line-height: 21px;
    color: #008082;
    float: left; }
    header h1 strong {
      letter-spacing: -1px; }
    header h1 span {
      font-weight: normal;
      font-size: 14px;
      color: #666; }
  header nav {
    float: right; }
    @media (max-width: 686px) {
      header nav {
        display: none; } }
  header ul {
    padding: 0;
    margin: 0; }
  header li {
    font-size: 11px;
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase; }
    @media (max-width: 686px) {
      header li {
        margin-left: 0;
        margin-right: 20px; } }
    header li a {
      line-height: 70px;
      text-decoration: none;
      color: #666666;
      font-weight: bold;
      position: relative; }
  header li:first-child {
    margin-left: 0; }

.menu-trigger {
  display: none;
  /* Disable mobile menu trigger */ }

/* CTA link */
.cta-link {
  border-radius: 2px;
  padding: 4px 10px 5px 10px;
  color: rgba(102, 102, 102, 0.7); }

/**
CONTENT
===========================
*/
.content {
  padding: 120px 0 40px 0;
  text-align: center; }
  .content h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin: 60px 0 10px 0;
    display: none; }
  .content h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    display: none; }
  .content p {
    margin: 15px 0 0 0;
    color: #333;
    line-height: 26px;
    font-size: 16px; }
  .content em {
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 28px; }

.column-01,
.column-02 {
  width: 47%; }

.column-01 {
  float: left; }

.column-02 {
  float: right; }

/**
FOOTER
===========================
*/
footer {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none; }

/**
FORMS
===========================
*/
form ul {
  padding: 0;
  margin: 0; }
form li {
  list-style-type: none;
  margin-top: 15px;
  font-size: 12px; }
form label {
  margin-bottom: 5px;
  display: inline-block;
  font-weight: bold; }
form .check {
  margin-bottom: 0; }
form input[type="text"] {
  border-radius: 2px;
  width: 290px;
  border: 1px solid #666;
  background: white;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  outline: none;
  color: #333;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px; }
form input[type="submit"] {
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  background: #008082;
  padding: 0 15px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  border: none;
  outline: none; }
  form input[type="submit"]:hover {
    opacity: .9; }
  form input[type="submit"]:active {
    opacity: 1;
    box-shadow: inset #3b5437 0 0 8px; }
form input[type="checkbox"] {
  margin-right: 3px; }

/**
COMPONENTS
===========================
*/
/* Screens list */
.screens a img {
  display: inline-block; }

/* CTA */
.cta {
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: relative;
  background: #008082;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center; }

/**
RESPONSIVE
===========================
*/
/* Viewports */
html,
body {
  width: 100%;
  overflow-x: hidden; }

@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0; }
/* Smartphones */
@media (max-width: 686px) {
  .column-01,
  .column-02 {
    width: 100% !important;
    float: none; } }
/**
GENERAL
===========================
*/
a:hover,
header:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

/* Generic */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
  font-size: 14px;
  margin: 0; }

/* Grid */
.holder {
  width: 90%;
  margin: auto; }

.column-01,
.column-02 {
  width: 45%; }

.column-01 {
  float: left; }

.column-02 {
  float: right; }

/*# sourceMappingURL=main.css.map */
