/**
VARS AND MIXINS
===========================
*/
/* Color vars */
/* Font-size vars */
/* Font-family vars */
/* Mixins */
header:after, .content:after {
  content: "";
  display: table;
  clear: both; }

/**
HEADER
===========================
*/
header {
  width: 100%;
  background: white;
  height: 70px;
  position: fixed;
  left: 0;
  top: 0; }
  header h1 {
    margin: 15px 0 0 0;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    background: #666;
    padding: 0 15px;
    color: #fff;
    float: left; }
  header nav {
    float: right; }
  header ul {
    padding: 0;
    margin: 0; }
  header li {
    font-size: 11px;
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase; }
    header li a {
      line-height: 70px;
      text-decoration: none;
      color: #666666;
      font-weight: bold;
      position: relative; }
  header li:first-child {
    margin-left: 0; }

.menu-trigger {
  display: none;
  /* Disable mobile menu trigger */ }

/* CTA link */
.cta-link {
  border-radius: 2px;
  padding: 4px 10px 5px 10px;
  color: rgba(102, 102, 102, 0.7); }
  .cta-link:hover {
    background: #3183b7;
    color: #fff; }

/**
CONTENT
===========================
*/
.content {
  padding: 100px 0 0 0; }
  .content h2 {
    font-size: 24px;
    color: #000;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    text-align: center;
    color: #c63939; }
  .content h3 {
    margin: 0; }
  .content h3,
  .content li {
    font-size: 14px; }
  .content p {
    margin: 15px 0 0 0;
    color: #333;
    line-height: 26px;
    font-size: 16px; }
  .content em {
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 28px; }

.column-01,
.column-02 {
  width: 47%; }

.column-01 {
  float: left; }

.column-02 {
  float: right; }

/**
FOOTER
===========================
*/
footer {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  left: 0; }

/**
FORMS
===========================
*/
form ul {
  padding: 0;
  margin: 0; }
form li {
  list-style-type: none;
  margin-top: 15px;
  font-size: 12px; }
form label {
  margin-bottom: 5px;
  display: inline-block;
  font-weight: bold; }
form .check {
  margin-bottom: 0; }
form input[type="text"] {
  border-radius: 2px;
  width: 290px;
  border: 1px solid #666;
  background: white;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  outline: none;
  color: #333;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px; }
form input[type="submit"] {
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  background: #698d64;
  padding: 0 15px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  border: none;
  outline: none; }
  form input[type="submit"]:hover {
    opacity: .9; }
  form input[type="submit"]:active {
    opacity: 1;
    box-shadow: inset #3b5437 0 0 8px; }
form input[type="checkbox"] {
  margin-right: 3px; }

/**
COMPONENTS
===========================
*/
/* CTA */
.cta {
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: relative;
  background: #698d64;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center; }
  .cta:hover {
    color: #fff;
    background: #3183b7; }

/**
RESPONSIVE
===========================
*/
/* Viewports */
html,
body {
  width: 100%;
  overflow-x: hidden; }

@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0; }
/* Tablets */
@media (max-width: 860px) {
  .holder {
    width: 700px; } }
/* Smartphones */
@media (max-width: 686px) {
  .holder {
    width: 94% !important; }

  .content {
    padding: 50px 0; }

  .column-01,
  .column-02 {
    width: 100% !important;
    float: none; } }
/**
GENERAL
===========================
*/
a:hover,
header:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

/* Generic */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  color: #333;
  font-size: 14px;
  margin: 0; }

/* Grid */
.holder {
  width: 700px;
  margin: auto; }

.column-01,
.column-02 {
  width: 45%; }

.column-01 {
  float: left; }

.column-02 {
  float: right; }

/*# sourceMappingURL=main.css.map */
